* { margin: 0em; padding: 0em; }
 a { color: #8DA359; text-decoration: underline; }
 a:hover { text-decoration: none; }
 body { background-color: #F0E3A4; background-image: url('theme/a4.gif?487957'); background-repeat: repeat-x; color: #37371E; font-family: georgia, serif; font-size: 10pt; }
 #outer { width: 760px; margin-left: auto; margin-right: auto; padding: 2.0em 1.0em 2.0em 1.0em; margin-bottom: 1.0em; background-color: #FEFEF2; background-image: url('theme/a3.gif?487957'); background-repeat: repeat-x; border-top: solid 1px #ffffff; }
 #outer2 { border: dotted 1px #EFEAD1; padding: 1.0em; }
 #menu { background-color: #6C7424; background-image: url('theme/a1.gif?487957'); background-repeat: repeat-x; color: #ffffff; height: 1.4em; line-height: 1.4em; padding: 0.8em; border-bottom: solid 1px #ffffff; border-top: solid 1px #6D7B34; }
 #menu a { color: #ffffff; text-decoration: none; }
 #menu ul { list-style: none; padding: 0em; }
 #menu li { display: inline; font-size: 0.9em; font-weight: bold; }
 #menu li a { padding: 0.8em; }
 #menu li a:hover { background-color: #515815; background-image: url('theme/a2.gif?487957'); background-repeat: repeat-x; }
 #active a:link { background-color: #515815; background-image: url('theme/a2.gif?487957'); background-repeat: repeat-x; }
 #active a:hover { background-color: #515815; background-image: url('theme/a2.gif?487957'); background-repeat: repeat-x; }
 #active a:visited { background-color: #515815; background-image: url('theme/a2.gif?487957'); background-repeat: repeat-x; }
 #header { padding: 0.8em 1.2em 1.2em 1.2em; }
 #header h1 { font-size: 3.0em; font-weight: normal; letter-spacing: -0.05em; line-height:1.5; }
 #header h1 a { color: #37371E; text-decoration: none; }
 #header h2 { position: relative; top: -0.1em; text-transform: lowercase; font-size: 0.8em; color: #4F4F2B; line-height:1.5; }
 #content { margin-top: 1.0em; padding: 1.2em; line-height:1.5; font-size: 0.9em; position: relative; min-height:400px; height:auto !important; height:400px; }
 #footer { border-top: dashed 1px #EFEFD6; padding-top: 1.0em; font-size: 1.0em; color: #AFA162; padding-left: 1.2em; clear: both; }
 #column1 div.paragraph { text-align: justify; margin-bottom: 2.0em; color: #4F4F2B; }
 #column1 p { text-align: justify; margin-bottom: 2.0em; color: #4F4F2B; }
 #column1 h2 { font-size: 1.4em; border-bottom: dashed 1px #CECF8F; margin: 10px 0; }
 #column2 { width: 145px; float: right; position: relative; margin-left: auto; }
 #column2 div.paragraph { text-align: justify; margin-bottom: 2.0em; color: #4F4F2B; font-size: 1.0em; }
 #column2 p { text-align: justify; margin-bottom: 2.0em; color: #4F4F2B; font-size: 1.0em; }
 #column2 h3 { font-size: 1.1em; border-bottom: dashed 1px #CECF8F; margin-bottom: 1.0em; }
 #column2 ul { list-style: none; line-height:1.5; margin-bottom: 2.0em; }
 #column2 li { border-bottom: dashed 1px #EFEFD6; }
 #wsite-menus .wsite-menu-wrap { z-index: 5000; }
 #wsite-menus .wsite-menu { padding: 0; margin: 0; list-style: none; }
 #wsite-menus .wsite-menu li { float: left; clear: left; width: 170px; text-align: left; }
 #wsite-menus .wsite-menu li a { position: relative; display: block; width: 100%; background: #515815; border-right: 1px solid #515815; border-left: 1px solid #515815; border-bottom: 1px solid #6a7123; text-decoration: none; font-family: georgia, serif; font-size: 11px; font-weight: normal; line-height:1; padding:3px; color: #fff; }
 #wsite-menus .wsite-menu li a:hover { border-right: 1px solid #6a7123; border-left: 1px solid #6a7123; border-bottom: 1px solid #6a7123; background: #6a7123; }
 #wsite-menus span.wsite-menu-title { display: block; padding: 5px 10px; }
 #wsite-menus span.wsite-menu-more { background: transparent url(http://images.weebly.com/weebly/images/submenu_arrow.gif) no-repeat center top; display: block; position: absolute; right: 5px; top: 0; font-family: Courier; height: 28px; line-height: 28px; padding:1px 0 3px 0; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
