ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
fieldset{
    border:0;
}
a img{
    border:0;
}
.clear{
    clear:both;
}


body {
    background: #000 url(bodybg.jpg) center top no-repeat;
    font-family: Tahoma, arial, sans-serif;
    font-size:12px;
    color:#666666;
    height: 100%;
    margin:0;
    padding:0;
}

a{
    color: #ff8f00;
    text-decoration: none;
}
p {
    line-height: 170%;
    color: #666666;
    font-size: 13px;
    padding: 5px 0px 5px 0px;
}
h1 {
    font-size:30px;
    color:#333333;
    line-height:1.5;
    padding: 5px 0px 5px 0px;
}
h2 {
    font-size:21px;
    color:#333333;
    line-height:1.5;
    padding: 5px 0px 5px 0px;
}

#wrapper {
    width:970px;
    margin: 0px auto;
}

.title{
    width: 970px;
    min-height: 30px;
    _height: 30px;
    padding: 10px 0px 10px 0px;
    font-size: 30px;
}

.title, .title a {
    color: #fff;
}

#navigation{
    position: relative;
    width: 970px;
    height: 28px;
    z-index: 2;
    border-bottom: 6px solid #ff8f00;
}

#navigation ul{
    float: right;
}

#navigation li{
    float: left;
    height: 28px;
    padding: 0px 0px 0px 41px;
    z-index: 2;
}

#navigation li a{
    position: relative;
    display: inline-block;
    color: #fff;
    height: 28px;
    z-index: 2;
    font-size: 13px;
    text-decoration: none;
}

#navigation li a:hover{
    color: #ff8f00;
    text-decoration: none;
    background: url(navhover.gif) bottom center no-repeat;
}

#navigation li#active a{
    color: #ff8f00;
    background: url(navhover.gif) bottom center no-repeat;
}

#header{
    position: relative;
    width: 970px;
    height: 325px;
    z-index: 1;
    margin: 0px 0px 0px 0px;
}

.weebly_header{
    background: url(%%HEADERIMG%%) no-repeat;
}

#weebly-menus .weebly-menu-wrap { z-index: 5000; margin: 6px 0px 0px 0px; }
 #weebly-menus .weebly-menu { padding: 0; margin: 0;  list-style: none; }
 #weebly-menus .weebly-menu li { float: left; clear: left; width: 168px; text-align: left; }
 #weebly-menus .weebly-menu li a { position: relative; display: block; width: 150px; background: #b36501; border-top:  none; border-bottom: 1px solid #a05a01; border-right: none; border-left: none; text-decoration: none; font-size: 12px; font-weight: normal; line-height:1; padding: 8px 6px 8px 12px; color: #fff; }
 #weebly-menus .weebly-menu li a:hover { background: #ff8f00; color: #fff; }

#content{
    width: 902px;
    height:auto !important;
    min-height:400px;
    background: #fff;
    padding: 20px 34px 40px 34px;
}

#footer{
    width: 910px;
    color: #fff;
    font-size: 14px;
    padding: 20px 0px;
    margin: 0px 0px 20px 0px;
}



